/*------------------------------------------------------------------*/
/*-------------BLOG CSS FOR SANDYMLIAO.COM BY SANDY LIAO------------*/
/*------------------------------------------------------------------*/

/*-----------------------BASIC ELEMENT STYLES-----------------------*/
body{
  background-image:images/128-215.jpg);
  background-repeat:repeat;
  background-position: fixed;
  font-family: georgia;
}
header{
  text-align: center;
}
h2{
  margin-bottom: 10px;
}
h5{
  font-size: 16px;
}
section{
  border: 1px dotted #000;
  margin-bottom: 25px;
  padding: 20px;

}
figure{
  text-align: center;
  margin-bottom: 15px;
}
figcaption{
  font-size: 13px;
}
aside{
  width:28%;
  float:right;
}
p{
  margin-bottom: 10px;
}

td{
  border: 1px solid #000;
  text-align: center;
}


/*---------------------------HEADER STYLES--------------------------*/


.blog_header{
  width:75%;
  font-size:500%;
  font-family: impact, sans-serif;
  clear:right;
  border: 5px #000 double;
  padding-top:65px;
  padding-bottom:20px;
  position: relative;
  top: -35px;
  z-index: -1;
  background-color: #fff;
  margin:auto;
}

.logo{
  position:relative;
  top:35px;
}

.heart{
  margin-right: 20px;
}



/*--------------------------NAVIGATION STYLES-----------------------*/





/*----------------------------BODY STYLES---------------------------*/
.postings{
  width: 70%;
  font-size:18px;
  line-height: 1.5;
  float:left;
}
.postings h4{
  margin-bottom: 20px;
}


.count_down table{
  width:100%;
  margin-bottom:15px;
}
.ex_img{
  width:90%;
  display: inline-block;
  margin-top: 20px;
}
.count_down h5{
  background-color: #e7a9cc;
  border: 1px #000 solid;
  padding:5px;
}
.passed{
  color:#c1c1c1;
}
.serif{
  font-family: "Courier New", sans-serif;
}







/*---------------------------FOOTER STYLES--------------------------*/